.btn-2 {
    padding: 1.2rem!important;
    min-width: 150px!important;
}


.bg-header {
    background-color: white!important;
}
.bg-verde {
    background-color:#dff0e7!important;
}
.bg-dark-blue {
    background-color:#132C55!important;
}

.bg-testimonials {
    background-color: #EBF5FF!important;
}

.color-blue {
    color: #054F98!important;;
}

.contact-form {
    padding: 3rem 4rem;
}

.contact-form input, textarea{

    height:50px;
    margin-top:.5rem;
    padding: 1rem 2rem;
    color:#054F98;
    border: none;
    outline:none;
    border-radius: 5px;
    resize: none;
}

.checkbox {
    margin-right: 1rem!important;
}

::placeholder {
    color:#054F98;
    opacity: 0.8; /* Firefox */
  }

  .terms {
      font-size: 15px;
  }

  .bold {
      font-weight: bold!important;
  }

  .socialmedia-icons {
      margin: 0 .8rem;
  }



  .border-blue {
    border: 0.2rem solid #EBF5FF;
  }

  .text-dark {
    color: black !important;
  }

  .text-blue {
    color: #12448E !important;
  }

  .popup-content
  {
      border-radius: 4px;
      padding: 4rem 4rem;
      width:80%;
      background-color: #EEF7FC;
  }
  .font-150 {
    font-size: 130%!important;
  }
  .font-270 {
    font-size: 270%!important;
  }
  .modal-contact {
      padding: 1.9rem 2.6rem;
      border-radius: 10px;
  }
  .modal-contact input{
      font-size: 15px;
      margin: 0.1rem 0;
      padding: 0 1rem;
      height: 41px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 4px;
      border: none;
  }
  .whatsapp { 
    position: fixed;
    bottom: 0;
    right:0;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width:5rem;
    z-index: 10;
  }

  @media (max-width: 992px) { /*pon tus medidas de responsividad estas son las que yo ocupaba pero no son las estandar*/
    .whatsapp { 
        position: fixed;
        bottom: 0;
        right:0;
        margin-right: .5rem;
        margin-bottom: .5rem;
        width:3rem;
        z-index: 10;
      }

  }
  @media (max-width: 600px) {
    .checkbox {
        margin-right: 1rem!important;
    }
  }

  .bg-slide-1 {
      background-image: url('../img/hero-bg.png');
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
  }

  .bg-slide-2 {
    background-image: url('../img/hero-bg.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-slide-3 {
    background-image: url('../img/hero-bg.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}